{% extends 'base.html' %}
{% block content %}


<h1> Credit Card Debt </h1>

<p>First, tell me about your credit card debt:</p>

<form action="/card_submission" method='POST' id="entire_form">
    <div id="add_new_card">
      	 Credit Card Name:
      	 <!-- insert little 'i' comments here to explain stuff -->
      <br>
      	<input type="text" name="card1_name[]" required id="name">
      <br>
      	Amount of Debt:
      <br>
      	<input type="number" step="0.01" min="0" max="100000" name="card1_debt[]" required id="debt">
      <br>
      	Annual Percentage Rate (APR):
          <!-- add note to mention this should be in percent format __%-->
      <br>
      	<input type="number" step="0.01" min="0" max="100" name="card1_apr[]" required id="apr">
      <br>
          <label> How is your minimum payment calculated?
              <!-- make the default for this first one. add note explaining this to users. -->
          <select name="min_payment[]" id="min_payment">
            <option value="int_1per" selected="selected"t>Interest + 1% of the balance</option>
            <option value="2.00_per">2.00%</option>
            <option value="2.08_per">2.08%</option>
            <option value="2.50_per">2.50%</option>
            <option value="2.78_per">2.78%</option>
            <option value="3.00_per">3.00%</option>
            <option value="3.50_per">3.50%</option>
            <option value="4.00_per">4.00%</option>
            <option value="4.50_per">4.50%</option>
            <option value="5.00_per">5.00%</option>
          </select>
          </label>
      <br>
      	<!-- Have date be optional. Useful for 0% apr. Have logic for this one. If apr == 0 then display. -->
      	<!-- In case I want to implement this in JS: http://stackoverflow.com/questions/6982692/html5-input-type-date-default-value-to-today -->
      	
  <!-- change to number of months to pay off. For now, do three options. 12, 24, 36 -->
        Select how long you want your payment plan to be: 
        <br>
        (Please select up to 36 month)
  	  	<input type="number" name="card1_date[]" min="1" max="36" id="date" required>


    </div>
    <div>
      <br>
      <button id="new_card">Add another card</button>
      <br>

      <br>	
      	<input type="submit" value="Let's Do This!" id="submit">
    </div>
</form>



{% endblock %}

<!-- TODO:  -->
<!-- figure out how to do a max of three years for date? Or is that necessary..... -->
<!-- Make the different credit card '+' options pop up after someone clicks, "add another credit card" button -->
<!-- assumption: there can be up to seven cards someone can enter per account. 

Based on Gallup Poll Research:
http://www.creditcards.com/credit-card-news/ownership-statistics-charts-1276.php 

-->

<!-- Need to add a remove new card section in JS file 'forms.js' -->

      <!-- Want to have only button on page.
      Want user to click button and then display info.
      Add section in div id = 'add_new_card' forces user to input some card info. 
      Right now, if user doesn't click add card and clicks submit "input out of range" -->

<!-- For now, have only one credit card info show up. Then start playing with this more in server.py -->


<!-- Use modal for this page and only display in on home page after user has clicked' let's go! -->
<!-- http://getbootstrap.com/javascript/#modals -->

<!-- http://getbootstrap.com/javascript/#tooltips -->
<!-- http://getbootstrap.com/javascript/#buttons-stateful -->