<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>D3 Page Template</title>
        <script type="text/javascript" src="/static/d3/d3.min.js"></script>
        <style type="text/css">
        
            div.bar {
                display: inline-block;
                width: 20px;
                height: 75px;
                background-color: teal;
                margin-right: 2px;
            }

            .axis path,
            .axis line {
                fill: none;
                stroke: black;
                shape-rendering: crispEdges;
            }
            .axis text {
                font-family: sans-serif;;
                font-size: 11px;
            }
        
        </style>
    </head>
    <body>


      galwjhbgehrjbgrej,gbeg
        <!-- <script type="text/javascript">
        //    //   // d3.select("body")
        //    //   //        .append("p")
        //    //   //        .text("New paragraph!");
             
        //    //   // var dataset = [ 5, 10, 15, 20, 25];

        //    //   // // shows up on console an array of 9
        //    //   // // But it should only be an array of 5....?
        //    //   // // Array 5 - 9 don't ahve any data associated to them...

        //    //   // // d3.select("body")
        //    //   // //        .selectAll("p")
        //    //   // //        .data(dataset)
        //    //   // //        .enter()
        //    //   // //        .append("p")
        //    //   // //        .text(function(d) {return "I can count up to " + d;})
        //    //   // //        .style("color", function(d) {
        //    //   // //            if (d > 15) {
        //    //   // //                return"red";
        //    //   // //            } else {
        //    //   // //                return "black";
        //    //   // //            }
        //    //   // //        });

        //    //   // d3.select("body").selectAll("div")
        //    //   //        .data(dataset)
        //    //   //        .enter()
        //    //   //        .append("div")
        //    //   //        .attr("class", "bar")
        //    //   //        .style("height", function(d) {
        //    //   //            var barHeight = d * 5;
        //    //   //            return barHeight + "px";
        //    //   //        });

        //    //  // var dataset2 = [25, 7, 5, 26, 11, 8, 25, 14, 23, 19, 
        //    //  //                 14, 11, 22, 29, 11, 13, 12, 17, 18, 10,
        //    //  //                 24, 18, 25, 9, 3];

        //    //  // d3.select("body").selectAll("div")
        //    //  //         .data(dataset2)
        //    //  //         .enter()
        //    //  //         .append("div")
        //    //  //         .attr("class", "bar")
        //    //  //         .style("height", function(d) {
        //    //  //             var barHeight = d * 5;
        //    //  //             return barHeight + "px";
        //    //  //         });


        //    //  // var dataset3 = [];
        //    //  // for (var i = 0; i < 25; i++) {
        //    //  //     var newNumber = Math.floor(Math.random() * 30);
        //    //  //     dataset3.push(newNumber);
        //    //  // }

        //    //  // d3.select("body").selectAll("div")
        //    //  //         .data(dataset3)
        //    //  //         .enter()
        //    //  //         .append("div")
        //    //  //         .attr("class", "bar")
        //    //  //         .style("height", function(d) {
        //    //  //             var barHeight = d * 5;
        //    //  //             return barHeight + "px";
        //    //  //         });


        //    // //  var svg = d3.select("body").append("svg");
        //    // //  // recommended that we have the w and h var defines above the rest of our code
        //    //  // var w = 500;
        //    //  // var h = 100;

        //    // //  svg.attr("width", w)
        //    // //      .attr("height", h)

        //    // //  var dataset = [ 5, 10, 15, 20, 25];

        //    // // var circles =  svg.selectAll("circle")
        //    // //                      .data(dataset)
        //    // //                      .enter()
        //    // //                      .append("circle");

        //    // //  circles.attr("cx", function(d, i) {
        //    // //              return (i * 50) + 25;
        //    // //              })
        //    // //          .attr("cy", h/2)
        //    // //          .attr("r", function(d){
        //    // //              return d;
        //    // //              })
        //    // //          .attr("fill", "yellow")
        //    // //          .attr("stroke", "orange")
        //    // //          .attr("stroke-width", function(d) {
        //    // //              return d/2;
        //    // //              });



        //    //  // d3.select("body").selectAll("div")
        //    //  //         .data(dataset)
        //    //  //         .enter()
        //    //  //         .append("div")
        //    //  //         .attr("class", "bar")
        //    //  //         .style("height", function(d) {
        //    //  //             var barHeight = d * 5;
        //    //  //             return barHeight + "px";
        //    //  //         });

        //    //  // var w = 500;
        //    //  // var h = 100;
        //    //  // var barPadding = 1;

        //    //  // var dataset = [5, 10, 13, 19, 21, 25, 22, 18, 15, 13, 
        //    //  // 11, 12, 15, 20, 18, 17, 16, 18, 23, 25];


        //    //  // var svg = d3.select("body")
        //    //  //             .append("svg")
        //    //  //             .attr("width", w)
        //    //  //             .attr("height", h);

        //    //  // svg.selectAll("rect")
        //    //  //     .data(dataset)
        //    //  //     .enter()
        //    //  //     .append("rect")
        //    //  //     .attr("x", function(d, i) {
        //    //  //         return i * (w / dataset.length);
        //    //  //     })
        //    //  //     .attr("y", function(d) {
        //    //  //         return h - (d * 4);
        //    //  //     })
        //    //  //     .attr("width", w / dataset.length - barPadding)
        //    //  //     .attr("height", function(d) {
        //    //  //         return d * 4 ;
        //    //  //     })
        //    //  //     .attr("fill", function(d) {
        //    //  //         return "rgb(0, 0, " + (d * 10) + ")";
        //    //  //     });

        //    //  //     //  This also works for attr:
        //    //  //     //  .attr({
        //    //  //     //     x: function(d, i) { return i * (w / dataset.length); },
        //    //  //     //     y: function(d) { return h - (d * 4); },
        //    //  //     //     width: w / dataset.length - barPadding, 
        //    //  //     //     height: function(d) { return d * 4; },
        //    //  //     //     fill: function(d) { return "rgb(0, 0, " + (d * 10) + ")"; }
        //    //  //     // }); 

        //    //  // svg.selectAll("text")
        //    //  //     .data(dataset)
        //    //  //     .enter()
        //    //  //     .append("text")
        //    //  //     .text(function(d) {
        //    //  //         return d;
        //    //  //     })
        //    //  //     .attr("text-anchor", "middle")
        //    //  //     .attr("x", function(d, i) {
        //    //  //         return i * (w / dataset.length) + (w / dataset.length - barPadding) / 2;
        //    //  //     })
        //    //  //     .attr("y", function(d) {
        //    //  //         return h - (d * 4) + 14;
        //    //  //     })
        //    //  //     .attr("font-family", "sans-serif")
        //    //  //     .attr("font-size", "11px")
        //    //  //     .attr("fill", "white")
        //    //  //     ;
            

        //    //  // var w = 500;
        //    //  // var h = 100;


        //    //  // var dataset = [ 
        //    //  //                 [5, 20], 
        //    //  //                 [480, 90], 
        //    //  //                 [250, 50], 
        //    //  //                 [100, 33], 
        //    //  //                 [330, 95],
        //    //  //                 [410, 12], 
        //    //  //                 [475, 44], 
        //    //  //                 [25, 67], 
        //    //  //                 [85, 21], 
        //    //  //                 [220, 88]
        //    //  //                 ];

        //    //  //  var svg = d3.select("body")
        //    //  //             .append("svg")
        //    //  //             .attr("width", w)
        //    //  //             .attr("height", h);

        //    //  // svg.selectAll("circle")
        //    //  // .data(dataset)
        //    //  // .enter()
        //    //  // .append("circle")
        //    //  // .attr("cx", function(d) {
        //    //  //     return d[0];
        //    //  // })
        //    //  // .attr("cy", function(d) {
        //    //  //     return d[1];
        //    //  // })
        //    //  // .attr("r", function(d) {
        //    //  //     return Math.sqrt( h - d[1]);
        //    //  // });

        //    //  // svg.selectAll("text")
        //    //  //     .data(dataset)
        //    //  //     .enter()
        //    //  //     .append("text")
        //    //  //     .text(function(d) {
        //    //  //         return d[0] + "," + d[1];
        //    //  //     })
        //    //  //     .attr("x", function(d){
        //    //  //         return d[0];
        //    //  //     })
        //    //  //     .attr("y", function(d){
        //    //  //         return d[1];
        //    //  //     })
        //    //  //     .attr("font-family", "sans-serif")
        //    //  //     .attr("font-size", "11px")
        //    //  //     .attr("fill", "red")


        //     var w = 500;
        //     var h = 300;
        //     var padding = 30;

        //     // var dataset = [ 
        //     //                 [5, 20], 
        //     //                 [480, 90], 
        //     //                 [250, 50], 
        //     //                 [100, 33], 
        //     //                 [330, 95],
        //     //                 [410, 12], 
        //     //                 [475, 44], 
        //     //                 [25, 67], 
        //     //                 [85, 21], 
        //     //                 [220, 88], 
        //     //                 [600, 150]
        //     //                 ];


        //     var dataset = [];                   //Initialize empty array
        //     var numDataPoints = 50;             //Number of dummy data points to create
        //     var xRange = Math.random() * 1000;  //Max range of new x values
        //     var yRange = Math.random() * 1000;  //Max range of new y values
        //     for (var i = 0; i < numDataPoints; i++) {                   //Loop numDataPoints times
        //         var newNumber1 = Math.floor(Math.random() * xRange);    //New random integer
        //         var newNumber2 = Math.floor(Math.random() * yRange);    //New random integer
        //         dataset.push([newNumber1, newNumber2]);                 //Add new number to array
        //     }

        //     var xScale = d3.scale.linear()
        //                         .domain([0, d3.max(dataset, function(d) {return d[0]; })])
        //                         .range([padding, w - padding * 2]);
            
        //     var yScale = d3.scale.linear()
        //                         .domain([0, d3.max(dataset, function(d) {return d[1]; })])
        //                         .range([h - padding, padding]);

        //     var rScale = d3.scale.linear()
        //                         .domain([0, d3.max(dataset, function(d) { return d[1]; })])
        //                         .range([2, 5]);

        //     var formatAsPercentage = d3.format(".1%");

        //     var xAxis = d3.svg.axis()
        //                         .scale(xScale)
        //                         .orient("bottom")
        //                         .ticks(5)
        //                         .tickFormat(formatAsPercentage);

        //     var yAxis = d3.svg.axis()
        //                         .scale(xScale)
        //                         .orient("left")
        //                         .ticks(5)
        //                         .tickFormat(formatAsPercentage);


        //     var svg = d3.select("body")
        //                 .append("svg")
        //                 .attr("width", w)
        //                 .attr("height", h);

        //     svg.selectAll("circle")
        //         .data(dataset)
        //         .enter()
        //         .append("circle")
        //         .attr("cx", function(d) {
        //             return xScale(d[0]);
        //         })
        //         .attr("cy", function(d) {
        //             return yScale(d[1]);
        //         })
        //         .attr("r", function(d) {
        //             return rScale(d[1]);
        //         });

        //     // svg.selectAll("text")
        //     //     .data(dataset)
        //     //     .enter()
        //     //     .append("text")
        //     //     .text(function(d) {
        //     //         return d[0] + "," + d[1];
        //     //     })
        //     //     .attr("x", function(d){
        //     //         return xScale(d[0]);
        //     //     })
        //     //     .attr("y", function(d){
        //     //         return yScale(d[1]);
        //     //     })
        //     //     .attr("font-family", "sans-serif")
        //     //     .attr("font-size", "11px")
        //     //     .attr("fill", "red")

        //     svg.append("g")
        //         .attr("class", "axis")
        //         .attr("transform", "translate(0, " + (h - padding) + ")")
        //         .call(xAxis);

        //     svg.append("g")
        //         .attr("class", "axis")
        //         .attr("transform", "translate(" + padding + ",0)")
        //         .call(yAxis);




        // </script> -->
 <!--  *********************************************************************************************** -->
<!-- THIS IS THE OLD INCORRECT VIZ -->
        <div id="viz3">
          Viz 3: 
          <script>

          var format = d3.time.format("%Y-%m-%d");

          var margin = {top: 20, right: 30, bottom: 30, left: 40},
              width = 960 - margin.left - margin.right,
              height = 500 - margin.top - margin.bottom;

          var x = d3.time.scale()
                  .range([0, width]);

          var y = d3.scale.linear()
              .range([height, 0]);

          var z = d3.scale.category20c();

          var xAxis = d3.svg.axis()
              .scale(x)
              .orient("bottom")
              .ticks(12);

          var yAxis = d3.svg.axis()
              .scale(y)
              .orient("left");

// All of the 2nd-dimensional arrays must be the same length.

          var stack = d3.layout.stack()
              .offset("zero")
              .values(function(d) { return d.values; })
              .x(function(d) { return d.date; })
              .y(function(d) { return d.amount; });


// TODO: 
// Go through data and make sure that Sugg has as many points as Min does. Add (date,0) for points
// make sure the math doesn't doubl add stuff. 
 // if you have missing data or inconsistent x-coordinates per series, you must resample and interpolate your data before computing the stacked layout.
 // Add feature to hover over point and display informaiton
 // add navigation chart and viewport


          var nest = d3.nest()
              .key(function(d) { return d.types; });
                  // .key(function(d) { return d.types; })
                  // .key(function(d) { return d.date; });
                  // .entries(amount);


// var nest = d3.nest()
//     .key(function(d) { return d.year; })
//     .key(function(d) { return d.variety; })
//     .entries(yields);

          var area = d3.svg.area()
              .interpolate("cardinal")
              .x(function(d) { return x(d.date); })
              .y0(function(d) { return y(d.y0); })
              .y1(function(d) { return y(d.y0 + d.y); });

          var svg = d3.select("#viz3").append("svg")
              .attr("width", width + margin.left + margin.right)
              .attr("height", height + margin.top + margin.bottom)
            .append("g")
              .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

          d3.json("../static/d3-data.json", function(data) {
            data.forEach(function(d) {
              d.date = format.parse(d.date)
              // format(new Date(d.date))
              d.amount = +d.amount;
            });

          // function getDate(d) {
          //     return new Date(d.jsonDate);
          // }

          // // get max and min dates - this assumes data is sorted
          // var minDate = getDate(data[0]),
          //     maxDate = getDate(data[data.length-1]);

          // var x = d3.time.scale().domain([minDate, maxDate]).range([0, w]);

            var layers = stack(nest.entries(data));

            x.domain(d3.extent(data, function(d) { return d.date; }));
            y.domain([0, d3.max(data, function(d) { return d.y0 + d.y; })]);

            svg.selectAll(".layer")
                .data(layers)
              .enter().append("path")
                .attr("class", "layer")
                .attr("d", function(d) { return area(d.values); })
                .style("fill", function(d, i) { return z(i); });

            svg.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + height + ")")
                .call(xAxis);

            svg.append("g")
                .attr("class", "y axis")
                .call(yAxis);
          });             

          </script>
        </div>


   <!--      <div id="viz2">
          <script>

            var margin = {top: 20, right: 80, bottom: 30, left: 50},
                width = 960 - margin.left - margin.right,
                height = 500 - margin.top - margin.bottom;

            // var parseDate = d3.time.format("%Y%m%d").parse;
            var format = d3.time.format("%Y-%m-%d");

            var x = d3.time.scale()
                .range([0, width]);

            var y = d3.scale.linear()
                .range([height, 0]);

            var color = d3.scale.category20b();

            var xAxis = d3.svg.axis()
                .scale(x)
                .orient("bottom");

            var yAxis = d3.svg.axis()
                .scale(y)
                .orient("left");

            var line = d3.svg.line()
                .interpolate("basis")
                .x(function(d) { return x(d.date); })
                .y(function(d) { return y(d.amount); });

            var svg = d3.select("#viz2").append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
              .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
// CHANGE THIS TO JSON!!!


            d3.json("../static/d3-data_small_amount.json", function(data) {
             // *********************  HELP HERE *********************
              console.log(data)
              data.forEach(function(d) {
                d.date = format.parse(d.date)
                d.amount = +d.amount;
               color.domain(d3.keys(data[0]).filter(function(key) { return key !== "date"; }))
              });

            // d3.tsv("data.tsv", function(error, data) {
            //   color.domain(d3.keys(data[0]).filter(function(key) { return key !== "date"; }));

            
              var types = color.domain().map(function(name) {
                return {
                  name: name,
                  values: data.map(function(d) {
                    return {date: d.date, amount: d.amount};
                  })
                };
              });

              x.domain(d3.extent(data, function(d) { return d.date; }));

              y.domain([
                d3.min(types, function(c) { return d3.min(c.values, function(v) { return v.amount; }); }),
                d3.max(types, function(c) { return d3.max(c.values, function(v) { return v.amount; }); })
              ]);

              svg.append("g")
                  .attr("class", "x axis")
                  .attr("transform", "translate(0," + height + ")")
                  .call(xAxis);

              svg.append("g")
                  .attr("class", "y axis")
                  .call(yAxis)
                .append("text")
                  .attr("transform", "rotate(-90)")
                  .attr("y", 6)
                  .attr("dy", ".71em")
                  .style("text-anchor", "end")
                  .text("Amount ($)");

              var type = svg.selectAll(".type")
                  .data(types)
                .enter().append("g")
                  .attr("class", "type");

              type.append("path")
                  .attr("class", "line")
                  .attr("d", function(d) { return line(d.values); })
                  .style("stroke", function(d) { return color(d.name); });

              type.append("text")
                  .datum(function(d) { return {name: d.name, value: d.values[d.values.length - 1]}; })
                  .attr("transform", function(d) { return "translate(" + x(d.value.date) + "," + y(d.value.amount) + ")"; })
                  .attr("x", 3)
                  .attr("dy", ".35em")
                  .text(function(d) { return d.name; });
            });

          </script>
 -->
        </div>
        Words. ebgelrbgerlgrah. 
    </body>
</html>

