{% extends 'base.html' %}
{% block content %}


This is my dashboard.

<div id="visualization">
	This will be where I display my visualizations
	<svg width="550" height="400">
	    <circle cx="500" cy="180" r="50"/>
	    <rect x="80" y="60" width="250" height="250" id="r1"/>
	    <rect x="140" y="120" width="250" height="250" id="r2"/>
	    <rect x="90" y="180" width="250" height="250" id="r3"/>
	    <rect x="130" y="240" width="250" height="250" id="r4"/>
	    <rect x="100" y="300" width="250" height="250" rx="40" id="r5"/>
	</svg>
</div>

<br>
<br>
<div id="card-summary">
	This is where I will display what credit card info user entered, Will display on left side of visualization.
	<br>
	<br>


	<!-- for loop in jinjia! -->
	{% for card in query_results %}
		<br>
		<br>
		Card id: {{card.card_id}},
		<br> 
		Card name: {{card.card_name}}
		<br>
		Card debt: {{card.card_debt }}	
		<br>
		Card apr: {{card.card_apr}}
		<br>
		Card time to pay off: {{card.card_date}}
		<br>
		User id: {{card.user_id}}
		<br>
		<br>
	{% endfor %}


	<!-- <Card card_id=1 card_name=Mastercard> -->

	<!-- add floating point display on number -->
	<!-- add apr amount and min payment -->
</div>

<br>
<br>

<div id="plan">
	Payment plan div.
</div>

<div id="action">
	Take action div.
	<!--  add in a note here that if a card doesn't have 0apr, suggest to switch to a 0 apr
	ONLY if they can pay it off within that date... -->
</div>

<!-- Use this! http://getbootstrap.com/examples/dashboard/ -->



{% endblock %}