{% extends 'base.html' %}
{% block content %}



<!-- stored d3 files in base.html -->
<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#payment_plan" aria-controls="payment_plan" role="tab" 
            data-toggle="tab">Payment Plan</a>
    </li>
    <li role="presentation">
        <a href="#payment_plan_int" aria-controls="payment_plan_int" role="tab" 
            data-toggle="tab">Payment Plan Interest</a>
    </li>
   <!--  <li role="presentation">
        <a href="#payment_plan_amt" aria-controls="payment_plan_amt" role="tab" 
            data-toggle="tab">Payment Plan Debt Amount </a>
    </li> -->  <!-- want to add this as a feature later -->
    <li role="presentation">
        <a href="#take_action" aria-controls="take_action" role="tab" 
            data-toggle="tab">Take Action</a>
    </li>
  </ul>

  <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="payment_plan">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="col-md-3 box" id="card-summary">
                        
                        <form action="/update_dashboard" method='POST' id="updated_form">
                            {% for card in query_results %}
                                <div class="panel panel-default">
                                    <div class="panel-heading"
                                                {% if card.card_name == "Visa" %}
                                                    id="V"
                                                {% elif card.card_name == "Master" %}
                                                    id="M"
                                                {% elif card.card_name == "Discover" %}
                                                    id="D"
                                                {% endif %}>
                                        <h3 class="panel-title">
                                            <input type="text" name="card1_name[]" 
                                            value = {{card.card_name}}  class = "debt form-control" 
                                            id="name" required> 
                                        
                                        </h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-addon">$</div>
                                                <input type="number" step="0.01" min="0" 
                                                max="100000" name="card1_debt[]" 
                                                value = {{card.card_debt}}  class = "debt form-control" 
                                                id="debt" required> 
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="number" step="0.01" min="0" 
                                                max="100" name="card1_apr[]" 
                                                value = {{card.card_apr}} id="apr" class="form-control" required>
                                                <div class="input-group-addon">%</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="number" name="card1_date[]" 
                                                min="1" max="36" id="date" class="form-control"
                                                value = {{card.card_date}} required>
                                                <div class="input-group-addon">months</div>
                                            </div>
                                        </div>
                                     </div>
                                </div>
                            {% endfor %}
                            <input type="submit" value="Update" id="submit_update" class="form-control form-group">
                        </form>

                        <br>
                        <br>

                        <form action="/remove_card" method="POST" id="remove_card">
                            <select name="remove_card" id="remove" size="3" class="form-control form-group">
                                {% for card in query_results %}
                                    <option value="{{card.card_id}}">{{card.card_name}}
                                    </option>
                                {% endfor %}
                            </select>
                            
                            <input type="submit" value="Remove this card" class="form-control form-group">
                        </form>
                        
                    </div>
                    <div class="col-md-9" id="main">
                        <div class="col-xs-12 col-md-12 col-lg-12 box" id="visualization">
                            <div align="center" id ="pull-phrase">
                                <h1> <strong>You could save:
                                $ <font color='#B22222'>{{list_of_total_min_int_amt_paid_sum - list_of_total_sugg_int_amt_paid_sum}} </font></strong></h1>
                                <p>If you follow Ikura's suggested payment plan!<p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12 col-lg-12 box" id="visualization">        
                            <div id="container" style="width:100%; height:400px;"></div>
                            <script>

                            // Highcharts.setOptions({
                            //     colors: ['#3C896D', '#544E61']
                            // });

                            $(function () {
                                $('#container').highcharts({

                                    rangeSelector: {
                                               enabled: true
                                           },

                                    chart: {
                                        type: 'column'
                                    },

                                    title: {
                                        text: 'Monthly Credit Card Debt Payment by Card'
                                    },

                                    subtitle: {
                                                text: 'Suggested Payments vs. Minimum Payments'
                                    },
                                    // TODO: DISPLAY THE TRUNCATED MONTH AND LAST 2 DIGITS OF YEAR INSTEAD
                                    xAxis: {
                                                categories: {{highcharts_dates_str | safe}}, 
                                                crosshair: true,
                                                tickInterval: 1
                                    },

                                    yAxis: {
                                        allowDecimals: false,
                                        min: 0,
                                        title: {
                                             text: 'Debt ($)'
                                        }
                                    },

                                    tooltip: {
                                        formatter: function () {
                                            return '<b>' + this.x + '</b><br/>' +
                                                this.series.name + ': ' + this.y + '<br/>' +
                                                'Total: ' + this.point.stackTotal;
                                        }
                                    },

                                    plotOptions: {
                                        column: {
                                            stacking: 'normal'
                                        }
                                    },

                                    series: {{highcharts_points | safe}}
                                });
                            });
                            </script>
                            



                        </div>
                        <!-- Add tooltips to show the user that they can click on headers to show plan -->

                        <div class="col-xs-6 col-md-6 col-lg-6">
                            <div id="sugg_plan">
                                <div class="panel panel-default">
                                    <div class="panel-heading sugg_plan" id ="sugg_plan" align="center">Total Suggested Payment Plan:</div>
                                        <div class="panel-body">
                                            <h3 align="center">
                                                Total amount of interest spent: 
                                                <br>
                                                $   <font color="#B22222">
                                                {{list_of_total_sugg_int_amt_paid_sum}}
                                                </font>
                                            </h3>
                                            <br>
                                            <div align="center">
                                                <button class="btn btn-default sugg_plan_btn" type="button" data-toggle="collapse" data-target="#collapseSuggPayment" aria-expanded="false" aria-controls="collapseSuggPayment" align="center" >
                                                  Payment Plan
                                                </button>
                                                
                                                <div class="collapse" id="collapseSuggPayment" align="center">
                                                      <div align="center" id="per-card-payment" class="form-group">
                                                          <h4 align="left">
                                                                 Each month allocate the following:
                                                                 <br>
                                                                 <br>
                                                                 {% set count = 0 %}
                                                                 {% for card in query_results%}
                                                                     {{card.card_name}} : $
                                                                             {{cards_payment_list[count]}}
                                                                     {% set count = count + 1 %}
                                                                     <br>
                                                                 {% endfor %}
                                                                 <br>
                                                                 <strong>Total each month:</strong> {{total_per_month}}
                                                            </h4>
                                                    </div>
                                                    <div class="well">
                                                        {{all_totals[1].to_html(classes="table 
                                                                table-striped") | safe }}
                                                    </div>
                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                        <div class="col-xs-6 col-md-6 col-lg-6">
                            <div id="min_plan">
                                <div class="panel panel-default">
                                    <div class="panel-heading min_plan" align="center">Total Minimum Payment Plan:</div>
                                        <div class="panel-body">
                                            <h3 align="center">
                                                Total amount of interest spent: 
                                                <br>
                                                $   <font color="#B22222">
                                                {{list_of_total_min_int_amt_paid_sum}}
                                                </font>
                                            </h3>
                                            <br>
                                            <div align="center">
                                                <button class="btn btn-default min_plan_btn" type="button" data-toggle="collapse" data-target="#collapseMinPayment" aria-expanded="false" aria-controls="collapseMinPayment" align="center">
                                                              Payment Plan
                                                </button>
                                                <br>
                                                <div class="collapse" id="collapseMinPayment" align="center">
                                                    <div class="well">
                                                        {{all_totals[0].to_html(classes="table table-striped") | safe}}
                                                    </div>
                                                </div>
                                            </div>
                                         </div>
                                    </div>
                                </div>
                            </div>



                       
                    </div>
                </div>
            </div>
        </div>
        <!-- </div> -->
        <div role="tabpanel" class="tab-pane box explanation" id="payment_plan_int" align="center">
            <div class="row-fluid">
                <div class="col-xs-6 col-md-6 col-lg-6 ">
                    <div id="explanation">
                        <h1 align="center">Pay off debt faster</h1>
                            <!--        Create a budget for your credit card debt
                                    
                                    (your budget must be larger than your suggested monthly payments in the previous tab): -->
                        <div class="col-md-9 col-md-offset-2">
                            <form action="/update_dashboard_int" method='POST' id="updated_dashboard_int" class="form-inline" align="center">
                                <p align="center">Create a budget for your credit card debt</p>
                                <p align="center"> Your buget must be more than your Suggested Payment Plan <br>($ {{total_sugg_payment_amt}})</p>
                                <div class="input-group">
                                    <div class="input-group-addon">$</div>
                                    <input type="text" name="budget"  class="budget form-control form-group" min="{{total_sugg_payment_amt}} + 1" id="budget" required >
                                </div>
                                <input class="form-control form-group" type="submit" value="Submit">    
                            </form>
                        </div>
                    </div>

                    

                    <div id="payment-int">
                        <div id="new-table-type">
                            <table style="width:100%" class="table" align="center">
                                
                                <th>Card</th>
                                <th>Debt</th>
                                <th>Payments</th> 
                                <th>Month</th>
                          
                                {% for card in all_totals_int %}
                                    

                                    <tr>
                                        
                                        {% if card[3] == "Visa" %}
                                        <td bgcolor="#ffbf00">

                                        {% elif card[3] == "Master" %}
                                        <td bgcolor ="#ffce3b">

                                        {% elif card[3] == "Discover" %}
                                        <td bgcolor="#ffe189">


                                        {% endif %}

                                            {{ card[3] }}
                                        </td>
                                        <td>
                                            ${{ card[0] | round(2, 'floor')}}
                                        </td>
                                        <td>
                                            ${{ card[1] | round(2, 'floor') }}
                                        </td>
                                        <td>
                                            {{ card[2] }}
                                        </td>
                                    
                                    </tr>

                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-6 col-lg-6 ">
                    <div id="int_container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

                    <script> $(function () {
                            $('#int_container').highcharts({
                                chart: {
                                    type: 'column'
                                },
                                title: {
                                    text: 'Efficiency Optimization by Branch'
                                },
                                xAxis: {
                                    categories: {{highcharts_dates_str | safe}},
                                    crosshair: true,
                                },
                                yAxis: {
                                    min: 0,
                                    title: {
                                        text: 'Debt ($)'
                                    }
                                },
                                legend: {
                                    shadow: false
                                },
                                tooltip: {
                                    shared: true
                                },
                                plotOptions: {
                                    column: {
                                        grouping: false,
                                        shadow: false,
                                        borderWidth: 0
                                    }
                                },
                                // want the totals here.
                                series: [{
                                    name: 'Suggested Plan',
                                    color: '#3C896D',
                                    data: [150, 73, 20],
                                    pointPadding: 0.3,
                                    pointPlacement: -0.2
                                }, {
                                    name: 'Suggested Plan with Budget',
                                    color: "#ffe189",
                                    data: [140, 90, 40],
                                    pointPadding: 0.4,
                                    pointPlacement: -0.2
                                }]
                            });
                        });
                    </script>
                </div>
            </div>
        </div>

    <!-- <div role="tabpanel" class="tab-pane" id="payment_plan_amt">
        <div style="position:absolute; top: 0; left: 0;">
            <button onclick="randomizeFillOpacity();">Randomize fill opacity</button>
        </div>
        <div id="chart1"></div>
        Nope. 
    </div> -->  <!-- will add this as a later feature-->   
        <div role="tabpanel" class="tab-pane box text-center" id="take_action"> 
            <div class="panel-group" id="accordion_action_One" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default panel-danger">
                    <div class="panel-heading" role="tab" id="heading_action_One">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion_action_One" href="#collapse_action_One" aria-expanded="false" aria-controls="collapse_action_One" >
                                Your credit cards do not have 0 APR 
                            </a>
                        </h4>
                    </div>
                    <div id="collapse_action_One" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_action_One">
                        <div class="panel-body">
                            <h3>It looks like you have one or more cards that are not currently 0% apr.</h3>
                            <p> <strong> Call </strong> your credit card providor to see if they have any 0% apr cards.
                            <strong> Research </strong> other credit cards that offer introductory 0% aprs.
                            <p><strong>Remember:</strong> Once your 0% apr introductory period ends your credit card will most likely charge you interest on the initial balance transfer! </p>
                            <em>Check out these websites for more info on 0% apr cards</em>
                            <ul>
                                Nerdwallet
                                Credit Karma
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default panel-warning">
                <div class="panel-heading" role="tab" id="heading_action_Two">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion_action_One" href="#collapse_action_Two" aria-expanded="false" aria-controls="collapse_action_Two">
                            Stop using your credit card!
                        </a>
                    </h4>
                </div>
                <div id="collapse_action_Two" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_action_Two">
                    <div class="panel-body" align="left">
                        Stop using your credit cards for purchases! Until you have paid off your debts or unless you can pay off your card in full every month on time stick to paying with a debit card or cash.
                        <br>
                        <br>
                        While paying off your credit cards is definitely a priority, saving money every month for an emergency fund will help circumvent any unplanned expenses that you might have. 
                    </div>
                </div>
            </div>       
        </div>
    </div>                
</div>


<!-- Have the first dashboard a mini of all three D3 viz and then have 
    the next tabs a breakdown of each -->

<!-- Use this! http://getbootstrap.com/examples/dashboard/ -->

<script src="../static/dashboard.js"></script>

{% endblock %}


<!-- http://getbootstrap.com/javascript/#tabs -->
<!-- http://getbootstrap.com/javascript/#popovers -->

<!-- change D3 to to the nv wrapper thing? -->

<!-- TOsDO: -->
<!-- make sure payment plans are collapsed when page renders with a little button to tell people to click on them 
    TODO:
    display how much they've saved if they go with sugg over min
