{% extends 'base.html' %}
{% block content %}


This is my dashboard.

<div>
	This will be where I display my visualizations
</div>

<br>
<br>
<div>
	This is where I will display what credit card info user entered, Will display on left side of visualization.
	<br>
	<br>


	<h2>{{card_name}}</h2>
	<button type="button" class="btn btn-default btn-lg">
  		<span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span> 
	</button> {{card_debt}}

	<br>
	<br>
	
	<button type="button" class="btn btn-default btn-lg">
  		<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> 
	</button> {{card_date}}

	<!-- add floating point display on number -->
	<!-- add apr amount and min payment -->
</div>

<br>
<br>

<div>
	Payment plan div.
</div>

<div>
	Take action div.
</div>

<!-- Use this! http://getbootstrap.com/examples/dashboard/ -->



{% endblock %}