{% extends 'base.html' %}


{% block content %}

<h1> Ikura </h1>

<h5> Helping you get on track with your credit card debt</h5>

{% if user == 0 %}
	 	<a href="/login" class="btn btn-info" role="button" id="start-button">Let's get started!</a>
{% else %}
	<a href="/card_submission" class="btn btn-info" role="button" id="start-button">Let's get started!</a>
{% endif %}





{% endblock %}

<!-- TODO -->
<!-- Add the quiz section for money, time and sanity
have this form submit and be entered into the calculations.py 
as special considerations.  -->